.footer
  .footer__list
    = link_to root_path do
      プライバシーポリシー
    &nbsp;&nbsp;&nbsp;
    = link_to root_path do
      メルカリ利用規約
    &nbsp;&nbsp;&nbsp;
    = link_to root_path do
      特定商取引に関する表記
  .footer__logo
    = link_to root_path do
      =image_tag 'logo-acdd90ac4f472d5a6f7a330d33ab1225.svg', class: 'footer__logo__image'
  .footer__inc
    ©︎ Mercari, Inc