.footerRegisIndex
  .footerRegisIndex__list
    %ul
      %li
        = link_to root_path do
          プライバシーポリシー
      %li
        = link_to root_path do
          メルカリ利用規約
      %li
        = link_to root_path do
          特定商取引に関する表記
  .footerRegisIndex__logo
    = link_to root_path do
      .footerRegisIndex__logo__image
  .footerRegisIndex__inc
    ©︎ Mercari, Inc.