= render "header"
.scrolleImages
  =image_tag 'blog_SNS.png', class: 'scrolleImages__image'
.body
  .popularCB
    .popularCB__container1
      %h2.popularCB__container1__title
        人気のカテゴリー
      %ul.popularCB__container1__list
        %li
          =link_to "#", class: "popularCB__container1__list__link" do
            レディース
        %li
          =link_to "#", class: "popularCB__container1__list__link" do
            メンズ
        %li
          =link_to "#", class: "popularCB__container1__list__link" do
            家電・スマホ・カメラ
        %li
          =link_to "#", class: "popularCB__container1__list__link" do
            おもちゃ・ホビー・グッズ
    .popularCB__container2
      - @products_c.each_with_index do |product, index|
        = render partial: 'product', locals: { index: index, product: product }
  .popularCB
    .popularCB__container1
      %h2.popularCB__container1__title
        人気のブランド
      %ul.popularCB__container1__list
        %li
          =link_to "#", class: "popularCB__container1__list__link" do
            シャネル
        %li
          =link_to "#", class: "popularCB__container1__list__link" do
            ルイヴィトン
        %li
          =link_to "#", class: "popularCB__container1__list__link" do
            シュプリーム
        %li
          =link_to "#", class: "popularCB__container1__list__link" do
            ナイキ
    .popularCB__container2
      - @products_b.each_with_index do |product, index|
        = render partial: 'product', locals: { index: index, product: product }
.aside
  .aside__container
    .aside__container__links
      %p
        スマホでかんたんフリマアプリ
      %p
        今すぐ無料ダウンロード！
      .aside__container__links__icons
        =image_tag 'mercari_icon-f75780e32e41e052c8aaa8b446331cd8.png', class: 'aside__container__links__icons__mercari'
        =link_to "#" do
          =image_tag 'app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg', class: "aside__container__links__icons__app"
        =link_to "#" do
          =image_tag 'google-play-495575abb895b405aa6336b2a4304958.svg', class: "aside__container__links__icons__google"
    .aside__container__phone
      =image_tag 'download_app_pc-a4418175e8be071827ac88d073f40e4a.png', class: 'aside__container__phone__image'
= render "footer"
