.cardsContents {
  background-color: #f5f5f5;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
  &__title {
    background-color: #ffffff;
    height: 98px;
    width: 700px;
    font-size: 22px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #f5f5f5;
    margin: 0 auto;
  }
  &__entry {
    background-color: #ffffff;
    min-height: calc(100vh - 128px - 98px - 1px - 240px);
    width: 700px;
    margin: 0 auto;
    padding: 20px 0 0 0;
    font-size: 14px;
    font-weight: bold;
    &__item {
      display: flex;
      justify-content: flex-start;
      padding: 20px 250px 5px 179px;
    }
    &__image {
      display: flex;
      justify-content: flex-start;
      padding: 0 0 5px 179px;
      list-style: none;
      li {
        margin: 8px 0 0 8px;
      }
    }
    &__boxwhite {
      background-color: #ffffff;
      height: 20px;
      width: 100%;
    }
    &__boxgray {
      background-color: #f5f5f5;
      height: calc(100vh - 128px - 98px - 1px - 240px - 400px);
      width: 100%;
    }
  }

  &__form {
    height: 61px;
    width: 350px;
    display: flex;
    justify-content: center;
    margin: 0 0 0 175px;
    &__text{
      height: 48px;
      width: 344px;
      border: 1px solid rgb(204, 204, 204);
      border-radius: 4px;
      padding: 0px 40px 0px 16px;
      background-color: #ffffff;
      transition: .2s;
      font-size: 16px;
      font-weight: 200px;
      font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
      &:focus{
        border: 1px solid #0095ee;
        outline: none;
      }
    }
  }
  &__monthForm {
    font-size: 20px;
    display: inline-block;
    margin-left: 20px;
    height: 40px;
    width: 40px;
    padding: 0 0 0 10px;
    &__text{
      height: 40px;
      width: 60px;
      font-size: 15px;
      border: 1px solid rgb(204, 204, 204);
      border-radius: 4px;
      background-color: #ffffff;
      transition: .2s;
      font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
      &:focus{
        border: 1px solid #0095ee;
        outline: none;
      }
    }
  }
  &__yearForm {
    font-size: 20px;
    display: inline-block;
    margin-left: 20px;
    height: 40px;
    width: 40px;
    padding: 0 0 0 50px;
    &__text{
      height: 40px;
      width: 60px;
      font-size: 15px;
      border: 1px solid rgb(204, 204, 204);
      border-radius: 4px;
      background-color: #ffffff;
      transition: .2s;
      font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
      &:focus{
        border: 1px solid #0095ee;
        outline: none;
      }
    }
  }
  &__btn {
    display: block;
    height: 50px;
    width: 350px;
    margin: 0 auto ;
    font-size: 15px;
    color: #ffffff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 200;
    line-height: 100px;
    &__next {
      background-color: #ef3a3a;
      color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
  &__icon {
    color: rgb(174, 167, 167);
    font-size: 20px;
    padding: 0 0 10px 240px;
    margin-top: -17px;
  }
  &__icon2 {
    color: rgb(174, 167, 167);
    font-size: 20px;
    padding: 0 0 10px 350px;
    margin-top: -30px;
  }
  &__question {
    color: #30b5ee;
    padding: 0 0 10px 340px;
    a{
      color: #30b5ee;
      &:hover{
        color: #93cae1;
        border-bottom: 1px solid #93cae1;
      }
    }
  }
}

.validatedDateForm {
  margin: 0 0 0 150px;
  position: relative;
  padding-left: 0;
  overflow: hidden;
  width: 100px;
  margin-top: 8px;
  text-align: center;
  display: flex;
  font-weight: 300;
  font-size: 14px;
  line-height: 50px;
  select {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    cursor: pointer;
    text-indent: 0.01px;
    text-overflow: ellipsis;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    height: 48px;
    padding: 0px 10px 0px 16px;
    background-color: #ffffff;
    transition: .2s;
    font-size: 17px;
    font-weight: 200;
    &:focus{
      border: 1px solid #0095ee;
      outline: none;
    }
    outline: none;
    background: transparent;
    box-shadow: none;
    -webkit-appearance: none;
    appearance: none;
  }
}