.breadcrumb__box{
  background-color: #fff;
  border-top: 1px solid #eee;
  box-shadow: 0 4px 8px rgba(0,0,0,.2);
  position: relative;
  z-index: 999;
  .breadcrumbs-list{
    width: 1020px;
    margin: 0 auto;
    padding: 16px 0;
    a{
      &:hover {
        border-bottom:1px solid ;
        opacity: 0.5;
      }
    }
    .current{
      font-weight: 600;
    }
  }
}