.aside{
  background: image-url('download_app_bg-b57d6f1a32f2aebd89cf6f43bc2e4b39.jpg');
  &__container{
    width: 750px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__links{
      > p:nth-of-type(1){
        color: white;
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 15px;
      }
      > p:nth-of-type(2){
        color: white;
        font-size: 35px;
        margin-bottom: 20px;
      }
      &__icons{
        display: flex;
        align-items: center;
        &__mercari{
          height: 68px;
          margin-right: 20px;
        }
        &__app{
          height: 40px;
          margin-right: 8px;
          width: 144px;
        }
        &__google{
          height: 40px;
          margin-right: 8px;
          width: 144px;
        }
      }
    }
    &__phone{
      font-size: 0;
      &__image{
        height: 260px;
      }
    }
  }
}







.footer{
  background-color: rgb(34, 34, 34);
  padding: 0px 20px 10px;
  &__nav{
    font-size: 0;
    width: 1020px;
    margin: 0 auto;
    padding-top: 18px;
    &__nav1, &__nav2, &__nav3, &__nav4{
      font-size: 0;
      display: inline-block;
      vertical-align: top;
      width: auto;
      padding-right: 40px;
      > h2{
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        color: white;
      }
    }
    li{
      margin-top: 16px;
      line-height: 1;
      > a{
        font-size: 12px;
        line-height: 1.3em;
        color: white;
        opacity: 0.7;
        &:hover{
          border-bottom: 1px solid white;
        }
      }
    }
    &__nav3{
      font-size: 0;
      width: 43%;
    }
    &__nav1__link__icon{
      color: white;
      font-size: 28px;
      margin: 30px 20px 0 0;
    }
  }
  &__inc{
    width: 1020px;
    margin: 30px auto 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 31px;
    &__logo{
      display: block;
      position: absolute;
      left: 0;
      &__image{
        height: 31px;
        width: 124px;
      }
    }
    &__name{
      color: white;
      font-size: 12px;
      font-weight: 400;
    }
  }
}








.externalLink{
  display: inline-block;
  margin-top: 30px;
}

.left, .right{
  display: inline-block;
  padding-right: 10px;
  width: 50%;
}

.exhibition{
  position: fixed;
  z-index: 1000;
  bottom: 32px;
  right: 32px;
  &__link{
    color: white;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    display: block;
    height: 160px;
    width: 160px;
    background-color: rgb(234, 53, 45);
    border-radius: 50%;
    outline: .5 solid green;
    padding-top: 32px;
    &__icon{
      display: block;
      font-size: 60px;
      margin-top: 3px;
    }
  }
}

