.slide{
  height: 390px;
  overflow: hidden;
  position: relative;
  &__images{
    height: 100%;
    position: relative;
    &__link{
      position: absolute;
      top: 0;
    }
  }
  &__navRight, &__navLeft{
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    right: 60px;
    &:hover{
      cursor: pointer;
    }
  }
  &__navRight{
    right: 60px;
    transform: rotateY(180deg);
  }
  &__navLeft{
    left: 60px;
  }
  &__circles{
    position: absolute;
    bottom: 16px;
    transform: translateX(-50%);
    left: 50%;
    &__left, &__right{
      border-radius: 50%;
      display: inline-block;
      height: 8px;
      width: 8px;
      background-color: rgba(209, 209, 209, .7);
    }
    &__left{
      margin-right: 4px; 
    }
    &__right{
      margin-left: 4px; 
    }
  }
}
.bright{
  background-color: rgba(255, 255, 255, .7);
}

.slideImage1{
  &__mainImage{
    height: 390px;
    width: 100vw;
    background: center;
    background-image: image-url("top-banner-barcode-aacab86f81df6a91d5ef08831103f2af.png");
  }
}

.slideImage2{
  left: 100%;
  &__mainImage{
    height: 390px;
    width: 100vw;
    background: center;
    background-image: image-url("top-banner-main-892151cc75b1f6a1285bf7943c9b933c.jpg");
    position: relative;
    &__subImage{
      display: block;
      height: 390px;
      transform: translateX(-50%);
      position: absolute;
      top: 0;
      left: 62.5%;
    }
    &__title, &__explanation, &__app, &__google{
      position: absolute;
      z-index: 100;
      bottom: 35px;
    }
    &__title{
      line-height: 1.4em;
      font-size: 60px;
      font-weight: bolder;
      top: 32px;
      left: 26.8%;
    }
    &__explanation{
      line-height: 1.8em;
      font-size: 18px;
      top: 215px;
      left: 26.8%;
    }
    &__app{
      width: 170px;
      left: 26.8%;
    }
    &__google{
      width: 170px;
      left: 37.4%;
    }
  }
}

.popularCB{
  &__container1{
    padding: 56px 0px 30px;
    &__title{
      text-align: center;
      font-size: 28px;
      line-height: 39px;
      margin-bottom: 16px;
      font-weight: 600;
    }
    &__list{
      margin: 0 auto;
      display: flex;
      justify-content: center;
      &__link{
        font-size: 14px;
        font-weight: 600;
        padding: 8px 16px;
        background-color: rgb(239, 239, 239);
        border-radius: 15px;
        margin: 10px 5px 0px 5px;
      }
    }
  }
  &__container2{
    padding: 42px 0px 100px;
    background-color: rgb(239, 239, 239);
  }
}

.popular{
  width: 1020px;
  margin: 0 auto;
  &__topFirst{
    display: flex;
    justify-content: space-between;
    margin: 0 0 16px 0;
  }
  &__top{
    display: flex;
    justify-content: space-between;
    margin: 60px 0 16px 0;
    &__title{
      font-size: 24px;
      font-weight: 600;
      line-height: 34px;
      padding-left: 10px;
    }
    &__more{
      font-size: 14px;
      color: #0095ee;
    }
  }
  &__list{
    display: flex;
    flex-wrap:wrap;
    > li{
      padding: 10px;
      width: 20%;
    }
  }
}

.product{
  opacity: 0;
  transition: opacity 900;
  display: inline-block;
  width: 100%;
  height: 252px;
  box-shadow: 0 2px 4px rgba(0,0,0,.18);
  position: relative;
  &:hover{
    outline: .5px solid #0095ee;
  }
  &__image{
    height: calc(100% - 64px);
    background-color: gray;
    position: relative;
    > img{
      object-fit: contain;
    }
    > span{
      background-color: rgba(0,0,0,.3);
      position: absolute;
      bottom: 8px;
      left: 0px;
      height: 28px;
      line-height: 28px;
      padding: 0 12px;
      color: #fff;
      font-size: 17px;
      letter-spacing: .02em;
      border-radius: 0 14px 14px 0;
    }
  }
  &__name{
    background-color: white;
    height: 64px;
    padding: 12px;
    font-size: 14px;
    > span{
      display: inline-block;
      height: 100%;
      overflow: hidden;
      line-height: 1.4em;
    }
  }
  &__mask{
    position: absolute;
    bottom: 12px;
    right: 12px;
    height: 20px;
    width: 20px;
    background: linear-gradient(135deg, rgba(255,255,255,0), rgba(255,255,255,1) 70%);
    z-index: 5;
  }
}

.exhibition{
  position: fixed;
  z-index: 1000;
  bottom: 32px;
  right: 32px;
  &__link{
    color: white;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    display: block;
    height: 160px;
    width: 160px;
    background-color: rgb(234, 53, 45);
    border-radius: 50%;
    outline: .5 solid green;
    padding-top: 32px;
    &__icon{
      display: block;
      font-size: 60px;
      margin-top: 3px;
    }
  }
}