.container {
  margin: 0 auto;
  padding: 40px 0 0 0;
  background: #f5f5f5;
  width: 100%;

  .item{
    width: 700px;
    margin: 0 auto;
    padding: 24px 40px 20px 40px;
    background: #fff;
    .item-box{
      &__name{
        font-size: 24px;
        text-align: center;
        word-wrap: break-word;
        line-height: 1.4;
      }

      &__details{
        margin-top: 16px;
        height: 400px;
        &__image{
          position: relative;
          float: left;
          width: 300px;
          &__top{
            img{
              width: 300px;
              height: 300px;
              display: flex;
            }
          }
          &__list{
            display: block;
            width: 300px;
            .thumb__item{
              list-style: none;
              float: left;
              img{
                width: 60px;
                height: 60px;
                max-height: none;
                opacity: 0.5;
              }
            }
            .thumb__item.thumbnail-current{
              img{
                opacity: 1;
              }
            }
          }
        }
        &__table{
          border-color: #fafafa;
          float: right;
          width: 320px;
          height: 400px;
          margin: 0 auto;
          vertical-align: inherit;
          tr {
            background-repeat: no-repeat;
            margin: 0;
            padding: 0;
            border: 1px solid #f5f5f5;
          }
            th {
              font-size: 14px;
              width: 39%;
              text-align: left;
              font-weight: 400;
              background-color: #fafafa;
              padding: 12px;
            }
              td {
                display: table-cell;
                vertical-align: inherit;
                font-size: 14px;
                width: 39%;
                text-align: left;
                font-weight: 400;
                padding: 8px;
                .td__link{
                  color: #0099e8;
                  &:hover {
                    opacity: 0.7;
                    text-decoration: underline;
                  }
                }
              }
              .grin-icon {
                font-size: 16px;
                color: rgb(242, 129, 148);
                margin-top: 5px;
              }
              .meh-blank-icon {
                font-size: 16px;
                color: #f7b321;
                margin-top: 5px;
              }
              .angry-icon {
                font-size: 16px;
                color: rgb(134, 134, 201);
                margin-top: 5px;
              }
      }
    }
  }
  &__price{
    text-align: center;
    margin: 24px 0 0;
    &__amount{
    font-weight: 600;
    font-size: 40px;
    }
    &__tax{
      font-size: 10px;
      background-repeat: no-repeat;
      margin: 0;
      padding: 0;
    }
    &__ship{
    }
  }
  &__purchase {
    font-size: 24px;
    display: block;
    margin-top: 16px;
    background: #ea352d;
    line-height: 56px;
    text-align: center;
    font-weight: 600;
    text-decoration: none;
    transition: opacity 0.5s ease 0s;
    margin-bottom: 10px;
    a{
      color: #fff;
    }
  }
  &__purchase:hover {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    opacity: 0.5;
  }
  &__field{
    margin-bottom: 30px;
    font-size: 20px;
  }
  &__bottom{
    float: left;
    list-style: none;
    &__likes{
      display: inline-block;
      background-color: #f5f5f5;
      padding: 8px 16px;
      border-radius: 40px;
      font-size: 15px;
      color: #333;
    }
    &__report{
      display: inline-block;
      margin-left: 20px;
      background-color: #f5f5f5;
      padding: 8px 16px;
      border-radius: 40px;
      font-size: 15px;
      color: #333;
    }
    &__policy{
      display: inline-block;
      color: #0099e8;
      font-size: 14px;
      margin: 0 0 0 110px;
      &:hover {
        opacity: 0.7;
        text-decoration: underline;
      }
    }
  }
}
  &__form{
    padding: 10px;
    background-color: white;
    width:700px;
    margin: 0 auto;
    .warning{
      margin: 0 auto;
      width:660px;
      color: #333;
      font-size: 14px;
      background: #fff6de;
      margin: 10px;
      padding: 8px;
    }
    textarea{
      margin: 0 auto;
      width:660px;
      display: block;
      padding: 10px;
      border: 1px solid #ccc;
      background: #fff;
      font-size: 16px;
      line-height: 1.5;
      box-sizing: border-box;
      margin-bottom: 10px;
    }
    &__btn{
      font-size: 14px;
      background-color: #aaa;
      margin: 0 auto;
      width:660px;
      color: white;
      line-height: 45px;
      text-align: center;
    }
  }
  &__sns {
    height: 100px;
    padding-bottom: 20px;
    margin: 0 auto;
    background-color: white;
    width: 700px;
    &__box{
      margin: 24px auto;
      padding: 32px 0 24px;
      margin: 16px 0 0;
      text-align: center;
      display: flex;
      justify-content: center;
      li {
        margin: 0 8px 8px 0;
        list-style: none;
        &:hover {
          opacity: 0.7;
        }
        .facebook {
          background-color: darkblue;
          border-radius: 4px;
          display: table;
          width: 100%;
          height: 100%;
          &__icon {
            font-size: 27px;
            color: white;
            height: 44px;
            width: 44px;
            display: table-cell;
            vertical-align: middle;
          }
        }
        .twitter{
          background-color: blue;
          display: inline-block;
          font-size: 27px;
          color: white;
          height: 44px;
          width: 44px;
          display: table-cell;
          vertical-align: middle;
          list-style: none;
          &__icon {
            font-size: 27px;
            color: white;
            height: 44px;
            width: 44px;
            display: table-cell;
            vertical-align: middle;
          }
        }
          .line{
            background-color: green;
            display: inline-block;
            font-size: 27px;
            color: white;
            height: 44px;
            width: 44px;
            display: table-cell;
            vertical-align: middle;
            list-style: none;
            &__icon {
              font-size: 27px;
              color: white;
              height: 44px;
              width: 44px;
              display: table-cell;
              vertical-align: middle;
            }
          }
          .pinterest{
            background-color: red;
            display: inline-block;
            font-size: 27px;
            color: white;
            height: 44px;
            width: 44px;
            display: table-cell;
            vertical-align: middle;
            list-style: none;
              &__icon {
                font-size: 27px;
                color: white;
                height: 44px;
                width: 44px;
                display: table-cell;
                vertical-align: middle;
              }
            }
          }
        }
      }
  &__show{
    padding-bottom: 20px;
    padding-top: 20px;
    &__list{
      display: flex;
      justify-content: space-between;
      width: 700px;
      margin: 0 auto;
      flex-wrap: wrap;
      .other{
        margin: 24px 0 8px;
        font-size: 22px;
        font-weight: 600;
        width:700px;
        a{
          color: #0099e8;
          &:hover {
            opacity: 0.7;
            text-decoration: underline;
          }
        }
      }
      .show-box{
        margin-bottom: 20px;
        text-align: center;
        width:220px;
        &__image{
          img{
            width: 100%;
            height: 220px;
          }
        }
        &__text{
          float: left;
          padding: 16px;
          text-align: left;
          background-color: white;
          &__name{
          font-weight: 400;
          height: 3em;
          }
          &__price{
            font-size: 14px;
            word-break: break-all;
            margin: 8px 0 0;
            font-weight: 600;
            color: #333;
          }
        }
      }
    }
  }
}
