.myinfomations{
  width: 700px;
  margin:24px 0 0 40px;
  &__head{
    position: relative;
    &__inner{
      position: absolute;
      width: 100%;
      top: 50px;
      text-align: center;
      h2{
        font-size: 14px;
        margin: 8px 0 0;
      }
      span{
        font-size: 14px;
        margin: 8px 0 0;
      }
      &__image{
        width: 60px;
        border-radius: 50%;
      }
    }
    &__backImage{
      width: 100%;
      height: 200px;
    }
  }

  &__tabs{
    
    &__label{
      width: 100%;
      display: flex;
      line-height: 74px;
      background-color: #eee;
      text-align: center;
      h3{
        margin: auto;
      }
      .active{
        background-color: #fff;
        border-top: 2px solid #ea352d;
      }
    }

    &__contents{
      width: 100%;
      height: 100%;
      background-color: #eee;
      .view{
        background-color: #fff;
        display: block;
        border-bottom: 1px solid #eee;
        padding: 16px;
        img{
          width: 48px;
          float: left;
        }
        div{
          margin: 0 40px 0 68px;
          label{
            font-size: 14px;
          }
          span{
            color: #888;
            margin-right: 8px;
            font-size: 14px;
          }
        }
      }
      ul{
        display: none;
      }
    }
  }
}
    