.sidebar{
  width: 280px;
  .side__bar{
    margin: 24px auto 0;
    &__list{
      &__item{
        min-height: 48px;
        padding: 16px;
        background: #fff;
        font-size: 14px;
        color: #333;
        box-sizing: border-box;
        line-height: 14px;
        border-top: 1px solid #eee;
        position: relative;
        link:hover {
          background: #fafafa;
          text-decoration: none;
          opacity: 1;
        }
        &--icon{
          position: absolute;
          color: #ccc;
          right: 16px;
        }
      }

      &__head{
        margin: 40px 0 8px 0;
        font-size: 16px;
      }
    }
  }
}