.header  {
  height: 130px;
  background-color: #f5f5f5;
  font-family: arial;
  &__logo {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 40px;
    line-height: 90px;
    transform: translateY(20%)
  }
    &__progress {
      font-size: 40px;
      line-height: 90px;
      transform: translateY(30%)
    }
}
.contents1 {
  background-color: #f5f5f5;
  font-family: arial;
  &__title {
    background-color: #ffffff;
    height: 100px;
    width: 700px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid #f5f5f5;
    margin: 0 auto;
  }
  &__entry {
    background-color: #ffffff;
    height: 1160px;
    width: 700px;
    margin: 0 auto;
    display: block;
    justify-content: center;
    align-items: center;
    padding: 30px 0 0 0;
    text-align: center;
    &__item {
      display: flex;
      justify-content: flex-start;
      padding: 20px 250px 5px 150px;
    }
    
    &__message1 {
      display: flex;
      justify-content: flex-start;
      padding: 15px 0 0 150px;
      color: #a9a9a9;
      width: 550px;
      text-align: left;
    }
    &__message2 {
      display: flex;
      justify-content: flex-start;
      padding: 15px 0 20px 150px;
    }
    &__message3 {
      display: flex;
      justify-content: flex-start;
      padding: 15px 30px 0 150px;
      font-weight: bolder;
    }
    &__message4 {
      display: flex;
      justify-content: flex-start;
      padding: 15px 0 20px 150px;
      width: 550px;
      text-align: left;
    }
    &__message5 {
      display: inline-block;
      width: 550px;
      padding: 40px 90px 50px 90px;
      a{
        color: #87cefa;
      }
    }
    &__message6 {
      display: flex;
      justify-content: flex-end;
      padding: 35px 0 40px 150px;
      width: 550px;
      a{
        color: #87cefa;
      }
    }
    &__message7 {
      background-color: #dcdcdc;
      display: inline-block;
      width: 420px;
      padding: 10px 20px 10px 20px;
      a{
        color: #87cefa;
      }
    }
  }
  &__form {
    font-size: 20px;
    height: 40px;
    width: 400px;
    display: flex;
    justify-content: center;
    margin: 0 0 0 150px;
    &__text{
      height: 40px;
      width: 400px;
      border: 1px solid rgb(204, 204, 204);
      border-radius: 4px;
      padding: 0px 50px 0px 10px;
      background-color: #ffffff;
      transition: .2s;
      &:focus{
        border: 1px solid #0095ee;
        outline: none;
      }
    }
  }
  &__form2 {
    font-size: 20px;
    display: inline-block;
    height: 40px;
    width: 100px;
    margin: 0 100px 0 5px;
    &__text{
      height: 40px;
      width: 200px;
      border: 1px solid rgb(204, 204, 204);
      border-radius: 4px;
      padding: 0px 50px 0px 10px;
      background-color: #ffffff;
      transition: .2s;
      &:focus{
        border: 1px solid #0095ee;
        outline: none;
      }
    }
  }
  &__form3 {
    font-size: 20px;
    display: inline-block;
    // justify-content: flex-start;
    height: 40px;
    width: 100px;
    &__text{
      height: 40px;
      width: 100px;
      border: 1px solid rgb(204, 204, 204);
      border-radius: 4px;
      padding: 0px 50px 0px 10px;
      background-color: #ffffff;
      transition: .2s;
      &:focus{
        border: 1px solid #0095ee;
        outline: none;
      }
    }
  }
  &__btn {
    display: block;
    height: 60px;
    width: 420px;
    margin: 0 auto ;
    font-size: 15px;
    color: #ffffff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    line-height: 80px;
    &__next {
      background-color: #dc143c;
      color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
}

.footer {
  height: calc(100vh - 130px - 100px - 5px - 300px);
  background-color: #f5f5f5;
  font-family: arial;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: block;
  padding: 100px 10px 10px 0;
  font-size: 13px;
  &__list{
    display: block;
  }
  &__logo {
    padding: 20px 0 0 0;
    display: block;
    color: #c0c0c0;
    height: 20px;
    font-size: 40px;
  }
  &__inc {
    height: 20px;
    display: block;
    padding: 60px 0 0 0;
  }
}