.main{
  display: flex;
  justify-content: center;
  background-color: #f5f5f5;
  width: 100%;
  position: relative;
  padding: 0 0 40px;

  .index{
    margin-left: 40px;
    border-top: 1px solid #eee;

    .card{
      width: 700px;
      margin: 24px auto 0;
      background-color: #fff;

      .card__header{
        font-size: 24px;
        padding: 8px 24px;
        text-align: center;
        border-bottom: 3px solid #f5f5f5;
        line-height: 1.4;
      } 

      .card__content{
        padding: 64px;
        margin: 0 auto;
        &__list{
          border-bottom: 1px solid #eee;
          &__name{
            max-width: 320px;
            margin: 0 auto;
          }

          &__add{
            padding: 24px 0;
            margin: 0 auto;
            max-width: 320px;
            &__btn{
              background-color: #ea352d;
              border: 1px solid #ea352d;
              color: #fff;
              line-height: 48px;
              width: 100%;
              text-align: center;
              display: block;
              &:hover{
                opacity: 0.7;
              }
              &--icon{
                margin-right: 16px;
              }
            }
          }
        }

        &__method{
          margin: 40px 0 0;
          text-align: right;
          display: block;
          &__btn{
            color: #0099e8;
            font-size: 14px;
            &:hover{
              color: #66CCFF;
              border-bottom: 1px solid #66CCFF;
            }
          }
        }
      }
    }
  }
}